@model dynamic
<script src="~/Scripts/jquery-3.6.0.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/ExamTeacher.js"></script>
<script type="text/javascript">
    const questionList = @Html.Raw(Json.Encode(ViewData["QuestionList"]));
    let exam_id = 0;
</script>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Add Question</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="code">Question No</label>
                        <input type="text" class="form-control" id="question_no" placeholder="Question number" />
                    </div>
                    <div class="form-group">
                        <label for="code">Question Text</label>
                        <input type="text" class="form-control" id="question_text" placeholder="Write question" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return AddQuestion();">Add</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="container">

    <label for="session_type">Session:</label>
    <select id="session_type" class="form-select" aria-label="Default select example">
        <option selected>Select session</option>
        @foreach (var session in Model.SessionList)
        {
            <option value="@session.SessionId">@session.SessionName</option>
        }
    </select>
    <label for="class_type">Class:</label>
    <select id="class_type" class="form-select" aria-label="Default select example">
        <option selected>Select class</option>
        @foreach (var _class in Model.ClassList)
        {
            <option value="@_class.Class_id">@_class.Class_name</option>
        }
    </select>
    <label for="subject_type">Subject:</label>
    <select id="subject_type" class="form-select" aria-label="Default select example">
        <option selected>Select subject</option>
        @foreach (var subject in Model.SubjectList)
        {
            <option value="@subject.Subject_id">@subject.Subject_name</option>
        }
    </select>
</div>

<div class="container">
    <h2>Question Fill</h2>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" onclick="clearTextBox();">New question</button><br /><br />
    <table class="table table-dark ">
        <thead>
            <tr>
                <th>
                    Question No.
                </th>
                <th>
                    Question Text
                </th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>
</div>


